<?php
// текст который будет помещен в контентную область сайта
//$GLOBALS['SEOSHIELD_CONFIG']['content_formula']="Формула генерации Формула генерации  Формула генерации  Формула генерации  Формула генерации  Формула генерации  Формула генерации ";

// регулярное выражение для поиска контентной области сайта
$GLOBALS['SEOSHIELD_CONFIG']['content_place']="#<div class=\"categoryDescription\">.*</div>#isU";